# -----------------------------
# Python cache and bytecode
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# -----------------------------
# Virtual environments
# -----------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -----------------------------
# Distribution / packaging
# -----------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# -----------------------------
# Testing / Coverage
# -----------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.pytest_cache/

# -----------------------------
# Jupyter Notebooks
# -----------------------------
.ipynb_checkpoints

# -----------------------------
# Editors / IDEs
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS-specific
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Local settings
# -----------------------------
*.local
*.env
*.ini

# -----------------------------
# Misc
# -----------------------------
**/.mypy_cache/
**/.pytest_cache/
